<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Nasabah</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>Input Nasabah</h1>

        <form th:action="@{/nasabah/form}" th:object="${nasabah}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" th:value="${nasabah?.id}" >
            <table>
                <tr>
                    <td>Kode</td>
                    <td>
                        <input type="text" name="kode" th:value="${nasabah?.kode}">
                    </td>
                    <td>
                        <span style="color: red;" 
                        th:if="${#fields.hasErrors('kode')}" 
                        th:errors="*{kode}">kode harus diisi</span>
                    </td>
                </tr>
                <tr>
                    <td>Nama</td>
                    <td>
                        <!-- kalau sudah pakai th:field, tidak perlu lagi atribute name dan value -->
                        <!-- th:field akan meng-generate atribut id, name, value -->
                        <!-- id dan name otomatis diisi sesuai nama field, value diisi kalau di objectnya ada isinya -->
                        <input type="text" th:field="*{nama}">
                    </td>
                    <td>
                        <span style="color: red;" 
                        th:if="${#fields.hasErrors('nama')}" 
                        th:errors="*{nama}">nama minimal 2 huruf</span>
                    </td>
                </tr>
                <tr>
                    <td>Jenis Kelamin</td>
                    <td>
                        <input type="radio"  th:field="*{jenisKelamin}"
                        th:value="${jenis}"
                        th:each="jenis : ${T(com.muhardin.endy.training.virtualaccount.entity.JenisKelamin).values()}"
                        th:text="${jenis}">
                    </td>
                    <td>
                        <span style="color: red;">Harus diisi</span>
                    </td>
                </tr>
                <tr>
                    <td>Tanggal Lahir</td>
                    <td>
                        <input type="text"  th:field="*{tanggalLahir}">
                    </td>
                    <td>
                        <span style="color: red;">Harus diisi</span>
                    </td>
                </tr>
                <tr>
                    <td>Alamat</td>
                    <td>
                        <textarea th:field="*{alamat}"></textarea>
                    </td>
                    <td>
                        <span style="color: red;">Harus diisi</span>
                    </td>
                </tr>
                <tr>
                    <td>Provinsi</td>
                    <td>
                        <select th:field="*{provinsi}">
                            <option value="">Pilih provinsi</option>
                            <option th:each="p : ${daftarProvinsi}" th:text="${p.nama}" th:value="${p.id}">
                                Pilih provinsi
                            </option>
                        </select>
                    </td>
                    <td>
                        <span style="color: red;">Harus diisi</span>
                    </td>
                </tr>
                <tr>
                    <td>KTP</td>
                    <td>
                        <input type="file" name="ktp">
                    </td>
                    <td>
                        <span style="color: red;">Harus diisi</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input type="submit" value="Simpan">
                    </td>
                </tr>
            </table>
        </form>
    </section>
</body>
</html>