<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Nasabah</title>
</head>
<body>
    <section layout:fragment="content">
        <h1 class="h2">Daftar Nasabah</h1>

        <a th:href="@{/nasabah/form}" sec:authorize="hasAuthority('EDIT_NASABAH')">Tambah Data Nasabah Baru</a> | 
        <a th:href="@{/nasabah/excel}">Download Excel File</a>

        <div class="table-responsive small">
            <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th><a class="sorted" sd:pagination-sort="kode">Kode</a></th>
                    <th><a class="sorted" sd:pagination-sort="nama">Nama</a></th>
                    <th><a class="sorted" sd:pagination-sort="jenisKelamin">Jenis Kelamin</a></th>
                    <th>Tanggal Lahir</th>
                    <th>Alamat</th>
                    <th>Provinsi</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="n : ${daftarNasabah}">
                    <td th:text="${n.kode}">N-123</td>
                    <td th:text="${n.getNama()}">Nasabah 123</td>
                    <td th:text="${n.jenisKelamin}">N-123</td>
                    <td th:text="${n.tanggalLahir}">N-123</td>
                    <td th:text="${n.alamat}">N-123</td>
                    <td th:if="${n.provinsi}" th:text="${n.provinsi?.kode + ' - ' +n.provinsi?.nama}">N-123</td>
                    <td th:unless="${n.provinsi}">tidak diisi</td>
                    <td>
                        <a th:href="@{form(id=${n.id})}"  sec:authorize="hasAuthority('EDIT_NASABAH')">edit</a>
                        <a th:href="@{view(id=${n.id})}">view</a>
                        <a th:href="@{delete(id=${n.id})}"  sec:authorize="hasAuthority('EDIT_NASABAH')">delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-6">
                <div sd:pagination-summary="">info</div>
                Show <span sd:page-size-selector="javascript"></span> entries
            </div>
            <div class="col-sm-6">
                <nav class="pull-right">
                <ul class="pagination" sd:pagination-split="7" sd:pagination="full">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                       <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
            </div>
        </div>
        </div>
    </section>
</body>
</html>