<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info Nasabah</title>
</head>
<body>
    <section layout:fragment="content">
        <h1 class="h2">Info Nasabah</h1>

        <table border="1">
            <tr>
                <td>Kode</td>
                <td th:text="${nasabah.kode}">N-001</td>
            </tr>
            <tr>
                <td>Nama</td>
                <td th:text="${nasabah.nama}">Nasabah 001</td>
            </tr>
            <tr>
                <td>KTP</td>
                <td>
                    <img width="50%" th:src="@{/nasabah/{id}/ktp(id=${nasabah.id})}" />
                    <a th:href="@{/nasabah/{id}/ktp(id=${nasabah.id})}">download image</a>
                </td>
            </tr>
        </table>
    </section>
</body>
</html>